@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:wght@300&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');
.header{
    background-image: url(https://images8.alphacoders.com/445/445190.jpg);
    text-align: center;
    padding: 60px;
    color: white;
}
h1{
    font-family: 'Pacifico', cursive;
}
.header p{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2em;
}
.towch1{
    background-color: #ad186f;
    padding: 12px 28px;
    color: white;
    border: none;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    
}
.container div{
    width: 50%;
}
.container{
    display: flex;
}
h2{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 3em;
}
.text1{
    padding-right: 20px;
    text-align: right;
}
.text2{
    font-family: 'Indie Flower', cursive;
    padding-left: 20px;
    color: grey;
}
.text1color{
    color: grey;
}
.contain{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
img{
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}
.footer{
      background-color: grey;
      font-family: 'Mukta', sans-serif;
      color: #ad186f;
      text-align: right;
      padding: 20px;
}