#header{ background-color: orange;
	padding: 20px;
	color: white;
	font-family: 'Valdevi', sans-serif;
	font-size: 36px;
	border-radius: 20px;
	width: ;

}
.slogan{
	font-family:  'Scheherazade New', serif;
	font-size: 24px;

}	
table{
	border-spacing: 10px;
	border-collapse: separate;
	width: 1000px
}
#firstsidebar{
	padding: 40px 20px;
	background-color: blue;
	text-transform: uppercase;

}
.main{
	padding: 20px;
	font-size: 40px;
	color: white;
	background-color: red;
	text-align: left;
	text-transform: uppercase;

}
.subtext{padding: 10px 1px;
font-family: cursive;
}
#secondsidebar {
	padding: 20px;
	background-color: lightblue;

}
.footer{
	text-align: right;
	padding: 10px;
	background-color: grey;
	font-size: 20px;
}
.nav span{margin-right: 20px;
 
}





